#nav {
    margin: 0;
    padding: 0px 20px 0;
    
}
.nav {
   
    width: 100%;
}

#nav ul {
    background-image: none;
   
   
   
}
#nav li {
    float: left;
  
    margin: 0px;
    
    position: relative;
  
    height: 51px;
   background: url(../images/sp.jpg) no-repeat;  
    
}
#nav li li {background: none; height: 51px;padding-bottom: 15px;}
#nav a {
   
    color: #fff;
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100 !important;
    
    margin: 0px 0;
    padding:0px 20px 0px 20px;
    text-decoration: none;
}
#nav a:hover {
    background: none repeat scroll 0 0 #9b476e;
    color: #f0f0f0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;

}
#nav .current a, #nav li > a{
    background: none repeat scroll 0 0 #ad4f7b;
   
    color: #f0f0f0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
   height:50px;
   margin-left:1px;
}

 #nav .current a, #nav li ul li:hover > a  {
    background: none repeat scroll 0 0 #b6638a;
    color: #d5f0b6;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px; 
    
   
   
}
#nav li:hover > a{background: none repeat scroll 0 0 #9b476e;}
#nav ul li:hover a, #nav li:hover li a {
    background: none ;
   border:none;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top:0px;
    
}
#nav ul a:hover {
    background: none repeat scroll 0 0 #0 !important;
    color: #FFFFFF !important;
    font-size: 12px;
   
}

#nav li:hover > ul {
    display: block; margin-top:20px; margin-left:1px;
}
#nav ul {
    background: none repeat scroll 0 0 #9b476e;
    
   
    display: none;
    left: 0;
    margin: 0px 0 0;
    padding: 0;
    position: absolute;
    top: 29px;
    width: 182px;
    
   
}
#nav ul li {
    float: none;
    margin: 0;
    padding: 0;  
}
#nav ul a {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    
}

#nav ul ul {
    left: 182px;
   
}
#nav:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
#nav {
    display: inline-block;
}
html[xmlns] #nav {
    display: block;
    margin-top: 0px;
}
